[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Jean/microservice-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Jean/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Jean/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Jean/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-Jean/auth-ms.git
